---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getFunctionsByCategory, getFunctionType } from '@src/utils/functions';

const functionsByCategory = getFunctionsByCategory();
---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'All functions',
    tableOfContents: false,
}}>
    <p>This page lists all <strong>client-side</strong>, <strong>server-side</strong> and <strong>shared</strong> functions available in the <a href="/lua-api">Lua API</a> organized by category.</p>

    {Object.entries(functionsByCategory).map(([category, funcs]) => (
        <section>
            <details>
                <summary>{category} functions</summary>
                <ul>
                    {funcs.map(func => (
                        <li><a href={`/${func.id}`}>{func.id}</a> (<span class="side-type-color">{getFunctionType(func.data)}</span>)</li>
                    ))}
                </ul>
            </details>
        </section>
    ))}
</StarlightPage>

<style>
.side-shared {
    color: rgb(117, 117, 255);
}
.side-client {
    color: rgb(255, 50, 50);
}
.side-server {
    color: rgb(232, 115, 0);
}
</style>

<script>
    document.querySelectorAll('.side-type-color').forEach(el => {
        const type = el.textContent || '';
        el.classList.add(`side-${type.toLowerCase()}`);
    });

</script>